.container {
}

.mt1 {
  margin-top: 1rem;
}
.ml1 {
  margin-left: 1rem;
}
.dFlex {
  display: flex;
}
.h7 {
  height: 7rem;
}
.w12 {
  width: 12rem !important;
}
.justifyEnd {
  display: flex;
  justify-content: flex-end;
}
.justifyCenter {
  justify-content: center;
}
.alignCenter {
  align-items: center;
}
