@import './variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cera Pro';
}

.errorMessage {
  color: $redColor;
  font-size: 12px;
}
.successMessage {
  color: $greenColor;
  font-size: 12px;
}
